<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Memegram</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container" role="main">
      {% if errors is defined %}
        {% for error in errors %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" onclick="parentNode.remove()">&times;</button>
            <strong>{{error}}</strong>
          </div>
        {% endfor %}
      {% endif %}

      {% if info is defined %}
        {% for info_msg in info %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" onclick="parentNode.remove()">&times;</button>
            <strong>{{info_msg}}</strong>
          </div>
        {% endfor %}
      {% endif %}
      <form action="upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="picture" accept="image/*" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
      </form>

      {% if image_files is defined %}
        <div class="card-columns">
          {% for image_file in image_files %}
            <div class="card">
              <img class="card-img-top" src="{{image_static_url(filename=image_file.filename)}}"/>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </body>
</html>
