<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('index')}}">Memegram</a>
      <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#upload-modal">
        Upload Image
      </button>
    </nav>

    <div class="container" role="main">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong>
          </div>
      {% endfor %}

      {% if errors is defined %}
        {% for error in errors %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{error}}</strong>
          </div>
        {% endfor %}
      {% endif %}

      {% if info is defined %}
        {% for info_msg in info %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{info_msg}}</strong>
          </div>
        {% endfor %}
      {% endif %}


      <!-- The Modal -->
      <div class="modal" id="upload-modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Upload Image</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form action="upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <input id="picture" type="file" name="picture" accept="image/*" class="form-control">
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
              </form>
            </div>

          </div>
        </div>
      </div>

      {% if image_files is defined %}
        <div class="card-columns">
          {% for image_file in image_files %}
            <div class="card">
              <img class="card-img-top" src="{{image_static_url(filename=image_file.filename)}}"/>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </body>
</html>
